<!-- views/partials/content-left.ejs -->

<div class="contant_1_left">
  <h2>
     <%= new_heading %>
     <span>September 1, 2009 | (0) Comments</span>
    </h2>
  <img src="images/c1_i1.png" width="277" height="266" alt="" />
  <h3><%= new_heading_2 %></h3>
  <br class="clear bottomClear" />
  <p><%= new_paragraph_1 %></p>
    <p class="quoteBar" id="quotebar"><%= new_paragraph_2 %></p>
  <p><%= new_paragraph_3 %></p>
  </div>
<div class="sideBar">
  <div class="sideBarListBox">
   <img src="images/sideBarListBoxTop.png" alt="" width="240" height="10" />
   <ul>
       <li><a href="#" >What is Lorem Ipsum?</a></li>
       <li><a href="#">Why Do We Use It?</a></li>
   <li><a href="#">Where Does It Come From?</a></li>
   <li><a href="#">Where Can I Get Some?</a></li>
   <li><a href="#">There are many variations of passages of Lorem Ipsum available</a></li>
   <li><a href="#">Alteration In Some Form</a></li>
   <li><a href="#">If you are going to use a passage</a></li>
   <li><a href="#">You Need To Be Sure There</a></li>
   <li><a href="#">The generated Lorem Ipsum is</a></li>
      </ul>
   <img src="images/sideBarListBoxBottom.png" alt="" width="240" height="10" />
  </div>

<div>

  </div>
  </div>
  <br class="clear" />
