<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <% include ../partials/head %>
</head>

<body>
<div id="wrapper">
   <div id="branding">
   </div>
   <div id="contant">
    <div class="contant_1">

   </div>
   </div>
   <div class="midBox1">
     <div style="overflow-x:auto;">
       <table id="bookTable">
          <tr>
            <th>id</th><th>Title</th><th>Year</th><th>Cast</th><th>Genre</th>
          </tr> <!-- for silmukka käy läpi guest.json fileen taulukon sisällä, joka on esitelty app.js fileessä -->
          <% for (var i = 0; i < collection.length; i++) { %>
          <tr>
            <td><%= collection[i]._id %></td>
            <td><%= collection[i].title %></td>
            <td><%= collection[i].year %></td>
            <td><%= collection[i].cast %></td>
            <td><%= collection[i].genre %></td>
          </tr>
          <% } %>
        </table>
  	  </div>
	  </div>
  </body>
</html>
